/* .header {
    width: 100%;
    text-align: center;
    background-color: #FF4F02;
    font-size: 2.0rem;
    font-weight: bold;
    padding: 20px 0;
} */
/* .wrapper {
    width: 100%;
    margin: 30px 0 30px 0;
}
.sidemenu {
    float: left;
    width: 15%;
    color: #FFFFFF;
    font-size: 1.5rem;
}
.main {
    display: block;
    float: right;
    width: 85%;
}
.footer {
    width: 100%;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
} */
#sidemenu .mat-list-item {
    color: #FFFFFF;
}
#sidemenu .mat-icon {
    padding-right: 5px;
}
.topmenu_sub {
    padding-left: 16px;
    height: 40px;
}
.site_title {
    font-size: 2.0rem;
    padding-right: 20px;
}
.site_subtitle1 {
    padding-right: 10px;
}
.site_sub_titel {
    font-size: 16px;
}
#wrapper {
    width: 100%;
}
#sidemenu {
    width: 15%;
    font-size: 1.5rem;
    background-color: #000000;
}

#main {
    width: 85%;
}

テスト用
#sidemenu, #main {
    height: 500px;
}